<button type="button" class="btn btn-primary mb-3" (click)="createProject()">
  New project
</button>

<h1>All projects</h1>

<div *ngIf="projects.length === 0">
  No projects found.
</div>

<div class="row">
  <div *ngFor="let project of projects" class="col-md-4 mb-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ project.name || 'Untitled Project' }}</h5>
        <p class="card-text">{{ project.description || 'No description' }}</p>
        <button class="btn btn-primary" (click)="openProject(project)">
          Open Project
        </button>
      </div>
    </div>
  </div>
</div>
